body {
    overflow-y: scroll;
    background-color: #e3e3e3;
}
.cssAppHeaderBg {
    position: fixed;
    width: 100%;
    background-color: #1174ba;
    height: 80px;
    z-index: 1;
}
.cssAppHeaderBgTop {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.cssAppHeader {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1200px;
    height: 80px;
    position: relative;
}
.cssAppBody {
    min-height: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 80px 40px 20px 40px;
    background-color: #fff;
}
.cssPageHeader {
    font-size: 24px;
    padding: 10px 0 10px 0;
}
.cssPageBody {
    font-size: 16px;
}
@media only screen and (max-width: 800px) {
    .cssAppBody {
        padding: 80px 20px 20px 20px;
    }
}