body {
    overflow-y: scroll;
    background-color: #e3e3e3;
}
.cssAppHeaderBg {
    position: fixed;
    width: 100%;
    background-color: #1174ba;
    height: 80px;
}
.cssAppHeader {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1200px;
    height: 80px;
}
.cssAppBody {
    height: 100%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 80px 0 0 0;
    background-color: #fff;
}
.cssPageHeader {
    padding: 10px 40px 10px 40px;
    background-color: #fff;
}
.cssPageBody {
    padding: 0 40px 20px 40px;
    background-color: #fff;
}
@media only screen and (max-width: 800px) {
    .cssAppBody {
        padding: 0 20px 20px 20px;
    }
}