.cssAppLogo {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: #000;
    border-radius: 50%;
}
.cssSiteTitle {
    padding-top: 6px;
    font-size: 24px;
    color: #1174ba;
    text-align: center;
}
.cssTopNav {
    position: absolute;
    left: 120px;
    bottom: 0;
    line-height: 40px;
}
.cssTopNav a {
    display: inline-block;
    padding: 0 30px;
    border-right: solid 1px #FFF;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
}
.cssTopNav a:first-child {
    border-left: solid 1px #FFF;
}
.cssNav1A {
    background-color: #121f6b;
}
#idDropdownSettings {
    position: absolute;
    right: 20px;
    top: 47px;
    text-align: right;
}
#idDropdownSettings .fa-cog {
    font-size: 24px;
}
#idDropdownSettings .dropdown__content  {
    text-align: left;
}
#idDropdownSettings .cssSelection:hover {
    cursor: pointer;
    background-color: #DBEAFF;
}