html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}
* {
    box-sizing: border-box;
}
#idRoot {
    height: 100%;
}